@font-face {
  font-family: evogria;
  src: url("./assets/Evogria.otf") format("opentype");
}

.top-container {
    justify-content: center;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.converter {
    height: 100%;
    min-height: 10rem;
    color: white;
    background-color: #0d1721;
    border-width: .3rem;
}

.running, .selected-for-add {
    border-color: var(--bs-success) !important;
    border-width: .25rem;
    opacity: 90%;
}

.running .card-body {
    opacity: 50%;
}

img.converter-arrow {
    height: 1.5em;
    padding-left: 6px;
}

.converter-display,.resource {
    display: inline-block;
    align-content: center;
}

.converter-name {
    font-family: evogria;
}

.converter-name {
    font-family: evogria;
}

div.resource span.centered {
    color: black;
    font-family: evogria;
    font-size: 1.25em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; paint-order: stroke fill;
    -webkit-text-stroke: .1em white;
}

.resource img.donation, #add-card h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.resource {
    position: relative;
}
.resource > .large-cube {
    height: 3em;
}
.resource > .small-cube,
.resource > .ship,
.resource > .victory-point {
    height: 2.5em;
}
label > .large-cube,
#totals-holder .large-cube {
    height: 2em;
}
label > .small-cube,
label > .ship,
label > .victory-point,
#totals-holder .small-cube,
#totals-holder .ship,
#totals-holder .victory-point {
    height: 1.5em;
}
img.donation.large-cube {
    height: calc(3em + 5px);
}
img.donation.small-cube {
    height: calc(2.5em + 4px);
}
img.donation.victory-point {
    height: calc(2.5em + 7px);
}
img.donation.ship {
    height: calc(2.5em + 5px);
}

#add-card {
    height: 100%;
    border-style: dashed;
    border-width: .3rem;
    cursor: pointer;
    min-height: 10rem;
    margin-top: 1rem;
}

form label:has(img) {
    height: 3em;
}

/* start collapses */
/* disable collapse animation */
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.card-header.collapsed {
    border-bottom: none;
}

.card-header.collapsed > .fa-chevron-down {
    display: none;
}
.card-header:not(.collapsed) > .fa-chevron-right {
    display: none;
}
.card-dropdown > .card-header {
    cursor: pointer;
}

.row.card-dropdown {
    margin-top: 1rem;
}
/* end collapses */

@media (max-width: 768px) {
    tr { display: block; float: left; }
    th, td { display: block; }
}
